.profileC{
  margin-left: 15px;
  padding: 20px;
  width: 100%;
}
.m_container{
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 30px;
}
.m_containe h1{
  font-family: sans-serif;
  color: #4378E3;
  font-size: 47px;
  text-align: center;
  font-weight:bolder;  
}
.m_container input{
  border-radius: 15px;
  border: none;
  background-color: #4378E326;
  font-size: 21px;
  padding: 10px;
   /* margin: 2px 0px 2px 0px;     */
  width: 90%;
}
.m_where{
  display: flex;
  flex-direction: row;  
  text-align: center;
  justify-content:space-between;
  margin-left:17px ;
  width: 94%;
  margin-top: 20px;
}
.m_where #country{
  margin-right: 15px;
}
.m_session{
 font-size: large;
  background-color: #4378E326;
  color: #787777;
  text-align: left;
  border-radius: 15px;
  border: none;
  height: 45px;
  width: 94%;
  padding: 5px;
}
option{
  background-color: #4378E326;
  font-family: sans-serif;
  color: #00000081;
  font-size: 18px;
}
.m_contact{
  display: flex;
  flex-direction: row;  
  text-align: center;
  justify-content:space-between;
  margin-left:15px ;
  width: 94%;
  margin-top: 20px;
}
.m_contact #CT{
  margin-right: 15px;
}
.m_start{
  background-color: #4378E3;
  color: #FFFFFF;
  border-radius: 15px;
  border: none;
  font-size: 24px;
  text-align: center;
  width: 94%;
  padding: 15px;
}
.m_tell{
  color: #00000081;
  margin-bottom: 7px;
  margin-top: 3px;
}
button{
  cursor: pointer;
}